<dir-page-header heading="vm.heading"
                 icon="vm.icon"
                 show-search="false">
</dir-page-header>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-content class="md-padding">
            <div layout-gt-md="row" layout-md="column">
                <div flex>
                    <form name="vm.assignmentForm">
                        <div layout-gt-md="row" layout-md="column">
                            <div flex>
                                <div>
                                    <input type="file" ng-model="vm.assignment.file" id="file" name="file" accept="application/pdf" />
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                    <md-content class="md-padding">
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="start start">
                                <md-button class="md-primary md-primary-custom" ng-click="vm.cancel()">Cancel</md-button>
                            </div>
                            <div flex="50" layout="row" layout-align="end end">
                                <md-button class="md-primary md-primary-custom" ng-click="vm.upload()">Upload</md-button>
                            </div>
                        </div>
                    </md-content>
        </md-content>
        </md-content>
</md-content>