<dir-page-header heading="vm.heading"
                 icon="vm.icon">
</dir-page-header>

<md-content class="main-content md-padding page-content transparent">
    <md-content class="box-shadow padding-bottom-32">
        <table md-data-table md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                <tr>
                    <th name="Title"></th>
                    <th name="Description"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.quiz.title}}</td>
                    <td>{{vm.quiz.description}}</td>
                </tr>
            </tbody>
        </table>
    </md-content>

        <md-content class="box-shadow" ng-if="!vm.isStudent">
            <h4>Add Question</h4>
            <md-content class="md-padding" >
                <form name="vm.questionForm">
                    <div layout-gt-md="row" layout-md="column">
                        <div flex>
                            <md-input-container class="md-block">
                                <label>Select Question Type</label>
                                <md-select ng-model="vm.question.type" required name="questionType">
                                    <md-option value="YesNo">Yes/No</md-option>
                                    <md-option value="openEnded">Open Ended</md-option>
                                </md-select>
                                <div ng-messages="vm.questionForm.questionType.$error" ng-if="vm.questionForm.questionType.$dirty || vm.formSubmitted">
                                    <div ng-message="required">Please select question type</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <input ng-model="vm.question.description" required name="description" type="text" />
                                <div ng-messages="vm.questionForm.description.$error" ng-if="vm.questionForm.description.$dirty || vm.formSubmitted">
                                    <div ng-message="required">The field above is required</div>
                                </div>
                            </md-input-container>
                           <div flex layout="row" layout-align="space-between center" class="inline-switch" ng-if="vm.question.type == 'YesNo'">
                               <label>Answer</label>
                               <md-switch class="md-primary" aria-label="" ng-model="vm.question.answer">
                                   <label ng-if="vm.question.answer">Yes</label>
                                   <label ng-if="!vm.question.answer">No</label>
                               </md-switch>
                            </div>
                            <md-input-container class="md-block" ng-if="vm.question.type == 'openEnded'">
                                <label>Answer</label>
                                <input ng-model="vm.question.answer" required name="answer" type="text" />
                                <div ng-messages="vm.questionForm.answer.$error" ng-if="vm.questionForm.answer.$dirty || vm.formSubmitted">
                                    <div ng-message="required">The field above is required</div>
                                </div>
                            </md-input-container>
                           
                        </div>
                    </div>
                </form>
                <md-content class="md-padding">
                    <div layout="row">
                        <div flex="50" layout="row" layout-align="end end">
                            <md-button class="md-primary md-primary-custom" ng-click="vm.addQuestion(vm.question)">Add</md-button>
                        </div>
                    </div>
                </md-content>
            </md-content>
        </md-content>        
    </md-content>
<md-content class="main-content md-padding page-content transparent">
    <md-content class="box-shadow">
        <table md-data-table md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                <tr>
                    <th name="Question"></th>
                    <th name="Answer"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in vm.quizQuestions" class="hover">
                    <td>{{question.description}}</td>
                    <td ng-if="!vm.isStudent">{{question.answer}}</td>
                    <td ng-if="vm.isStudent">
                            <md-switch class="md-primary" aria-label="" ng-model="question.studentAnswer" ng-value="false" ng-if="question.type == 'YesNo'">
                                <label ng-if="question.studentAnswer">Yes</label>
                                <label ng-if="!question.studentAnswer">No</label>
                            </md-switch>
                        <md-input-container class="md-block" ng-if="question.type == 'openEnded'">
                            <input ng-model="question.studentAnswer" required name="answer" type="text" />
                            <div ng-messages="vm.questionForm.studentAnswer.$error" ng-if="vm.questionForm.answer.$dirty || vm.formSubmitted">
                                <div ng-message="required">The field above is required</div>
                            </div>
                        </md-input-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-content class="md-padding" ng-if="vm.isStudent">
            <div layout="row">
                <div flex="50" layout="column" layout-align="start start">
                    <md-button class="md-primary md-primary-custom" ng-click="vm.cancel()">Cancel</md-button>
                </div>
                <div flex="50" layout="row" layout-align="end end">
                    <md-button class="md-primary md-primary-custom" ng-click="vm.done(vm.quizQuestions)">Done</md-button>
                </div>
            </div>
        </md-content>
    </md-content>
</md-content>
