<dir-page-header heading="vm.heading"
                 icon="vm.icon"
                 show-search="false">
</dir-page-header>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                    <tr>
                        <th name="Title"></th>
                        <th name="Lecturer"></th>
                        <th name="Date"></th>
                        <th name="Description"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="assignment in vm.classAssignments" class="hover">
                        <td>{{assignment.title}}</td>
                        <td>{{assignment.user.firstname}} {{assignment.user.surname}}</td>
                        <td>{{assignment.date}}</td>
                        <td>{{assignment.description}}</td>
                        <td>
                            <md-button class="md-primary md-primary-custom" ng-click="vm.downloadAssignment(assignment)">Download</md-button>
                            <md-button class="md-primary md-primary-custom" ng-if="!assignment.showUpload" ng-click="vm.uploadAssignment(assignment)">Upload Assignment</md-button>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-container>
            <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.classAssignments.length}}"></md-data-table-pagination>
        </md-data-table-container>
        <md-content class="md-padding">
            <div layout="row">
                <div flex="50" layout="column" layout-align="start start">
                    <md-button class="md-primary md-primary-custom" ng-click="vm.back()">Back</md-button>
                </div>
            </div>
        </md-content>
    </md-content>
</md-content>