<dir-page-header heading="vm.heading"
                 icon="vm.icon">
</dir-page-header>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                    <tr>
                        <th name="Student"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in vm.results" class="hover">
                        <td>{{result.user.firstname}} {{result.user.surname}}</td>
                        <td>
                            <md-button class="md-primary md-primary-custom" ng-click="vm.downloadAssignment(result)">Download</md-button>
                        </td>                      
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-container>
            <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.results.length}}"></md-data-table-pagination>
        </md-data-table-container>
    </md-content>
    <md-content class="md-padding">
        <div layout="row">
            <div flex="50" layout="column" layout-align="start start">
                <md-button class="md-primary md-primary-custom" ng-click="vm.back()">Back</md-button>
            </div>            
        </div>
    </md-content>
</md-content>