
<div class="md-padding md-application-cards" layout="row" layout-wrap>
    <md-card flex layout-align="center center" class="md-flip-inslower" ng-click="vm.navigate('/requestCourier')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">local_shipping</md-icon>
            <p class="no-margin md-font-size-xs">Requst Courier</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-inslow" ng-click="vm.navigate('/login')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Member Login</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigate('/aboutUs')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">About</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigate('/contactUs')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Contact Us</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigate('/signUp')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Sign Up</p>
        </div>       
    </md-card>
</div>